<h1 id="welcome">Welcome.</h1>
<h4 id="instructions">Looking for lunch or a midafternoon snack? Let this handy dandy search be your ultimate hunger helper! Results will show matching food-related places close to the Zenefits office.</h4>
<div id="search">
	<form class="col s12">
		<div class="input-field col s12">
          <input id="query" type="text" class="validate" ng-model="query" placeholder="ex. 'sandwich'">
          <label for="query"></label>
        </div>
		<a class="waves-effect waves-light btn" ng-click="grabQuery(query)">search</a>
	</form>
</div>